:root {
  --main-clr: #0dcaf0;
}

nav {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.nav-item {
  padding: 5px;
}
.nav-link {
  transition: 1s;
}
.nav-link:hover {
  color: var(--main-clr) !important;
}
.log {
  position: relative;
}
.log::before {
  content: "";
  background-color: var(--main-clr);
  position: absolute;
  width: 1px;
  height: 50%;
  left: -10px;
  top: 15%;
  margin: 5px;
}
.dropdown-menu {
  position: relative;
}
.dropdown-menu::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: var(--main-clr);
}
.dropdown-menu .dropdown-item {
  width: 200px;
  padding: 10px;
}
.fa-bars {
  color: var(--main-clr);
  font-size: 1.1em;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
@media (max-width: 992px) {
  .log::before {
    display: none;
  }
  .dropdown-menu::after {
    top: 100%;
  }
  .dropdown-menu .dropdown-item {
    width: 100%;
  }
}
/* --------------------------------------- */
.landing {
  height: 100vh;
  background-image: url(./imgs/hero_2.jpg.webp);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.landing .container {
  position: relative;
  z-index: 2;
}
.landing .land-text h1 {
  font-size: 3rem;
}
@media (max-width: 992px) {
  .landing .land-text h1 {
    font-size: 2rem;
  }
}
/* ----------------------------------------------------------- */
.numbers {
  position: relative;
  top: -50px;
  z-index: 222;
}
.numbers .container {
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.numbers .container .row .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  transition: 0.5s;
}
.numbers .container .row .item .num {
  width: 70px;
  padding: 3px;
  text-align: center;
  background-color: #eee;
  border-radius: 20px;
}
.icon i {
  color: var(--main-clr);
  font-size: 2em;
  display: block;
}
.numbers .container .row .item:hover {
  color: #fff;
  background-color: var(--main-clr);
  transform: translateY(-5px);
}
.numbers .container .row .item:hover i {
  color: #fff;
}
.numbers .container .row .item:hover .num {
  background-color: #049bb9;
}
/* --------------------------------------------------- */
.featurs {
  margin: 30px 0px;
}
.featurs .container .card {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.featurs .container .card .icon,
.trend .container .icon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}
.featurs .container .card .icon .sub-tit,
.trend .container .sub-tit {
  padding: 5px;
  border-radius: 20px;
  font-size: 0.7em;
  font-weight: bold;
  width: fit-content;
  background-color: #ddd;
}
.container .heart {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.5s;
  background-color: rgba(221, 221, 221, 0.3);
}
.container .heart i {
  font-size: 1.1em;
  color: var(--main-clr);
}
.container .heart:hover {
  background-color: rgb(216, 59, 59);
}
.container .heart:hover i {
  color: #fff;
}
/* -------------------------------------------------- */
.heading {
  margin-bottom: 30px;
  position: relative;
}
.heading h3 {
  color: var(--main-clr);
  margin-bottom: 15px;
}
.heading p {
  opacity: 0.7;
  font-size: 0.9em;
}
.heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 40px);
  height: 2px;
  width: 80px;
  background-color: var(--main-clr);
}
.product {
  margin: 50px 0;
}
.product .row .card {
  overflow: hidden;
}
.product .row .card .card-img {
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}
.product .row .card .card-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.product .row .card .card-img:hover {
  transform: scale(1.03, 1.03);
}
.product .card .card-body {
  z-index: 33;
}
.product .row .card .sub-tit {
  padding: 7px;
  color: #fff;
  font-size: 0.7em;
  font-weight: bold;
  width: fit-content;
  border-radius: 20px;
  background-color: var(--main-clr);
}
/* ----------------------------------------------- */
.trend,
.blog {
  background-color: #f6f6f6;
}
.trend .heading {
  margin-top: 50px;
}
.trend .heading::after {
  left: 3%;
}
.trend .row .image img {
  width: 200px;
}
.trnd {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
/* -------------------------------------------------- */
.slid {
  margin: 60px 30px;
}
.slid .heading h3 {
  padding: 15px;
}
.slid-img img {
  width: 100px;
  border-radius: 50%;
  margin: 10px auto;
}
.slid-img p {
  opacity: 0.8;
  margin: 10px;
}
.slid-text {
  font-size: 1.3em;
  font-style: italic;
  margin: 20px 0px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 20px !important;
}
.carousel-inner {
  width: 75% !important;
}
@media (max-width: 500px) {
  .carousel-inner {
    width: 100% !important;
  }
}
/*---------------------------------------------------------------*/
.blog {
  padding: 50px 0px;
  margin: 20px 0px;
}
.blog .cards {
  margin-bottom: 20px;
}
.blog .card-title {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 15px;
}
.blog .card-body p {
  opacity: 0.8;
}
/*------------------------------------*/
